@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.type {
  color: white;
  text-shadow: 1px 2px 2px black;
}

.type.Grass {
  background-color: darkgreen;
}
.type.Poison {
  background-color: darkviolet;
}

.type.Steel {
  background-color: rgb(121, 124, 124);
}
.type.Wwater {
  background-color: rgb(30, 117, 218);
}
.type.Fairy {
  background-color: rgb(223, 113, 168);
}
.type.Flying {
  background-color: rgb(107, 150, 207);
}
.type.Electric {
  background-color: gold;
}

.type.Dark {
  background-color: rgb(24, 24, 24, 1);
}
.type.Fighting {
  background-color: rgb(145, 70, 70);
}
.type.Normal {
  background-color: darkgray;
}
.type.Psychic {
  background-color: rgb(180, 33, 126);
}

.type.Ghost {
  background-color: rgb(46, 37, 100);
}

.type.Fire {
  background-color: rgb(255, 60, 0);
}

.type.Bug {
  background-color: rgb(158, 194, 125);
}

.type.Ground {
  background-color: rgb(153, 101, 77);
}

.type.Ice {
  background-color: rgb(57, 250, 250);
}

.type.Rock {
  background-color: rgb(73, 71, 64);
}

.type.Dragon {
  background-color: rgb(21, 29, 146);
}
